@media screen and (max-width: 480px) {
  body {
    height: 100%vh;
    background-color: #93e9f1;
    margin: 0;
    padding: 0;
  }

  /* Header Section*/

  header {
    height: 250px;
    border-bottom: 2px solid #efebd6;
    background-color: #43608a;
    align-items: center;
  }

  .profile-tag {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-bottom: 30%;
  }

  .profile-pic {
    margin-left: 5px;
  }

  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .profile {
    margin-left: 2px;
    margin-top: 10px;
    font-family: Arial;
    color: #efebd6;
  }

  .profile p {
    font-size: 12px;
    font-weight: 600;
    transition: all 1s ease-out;
  }

  .span {
    font-weight: 400;
    margin-top: 2px;
  }

  .navbar {
    display: flex;
    justify-content: start;
    margin-bottom: 20%;
    transition: all 0.5s ease-out;
    color: #efebd6;
  }

  .topnav {
    width: 140px;
    height: 200px;
    margin-left: 12px;
    margin-top: 15px;
    background-color: #efebd6;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
    transition: all 1s ease-out;
  }
  .topnav:hover {
    border: 2px solid #111;
  }

  .topnav a {
    display: block;
    font-family: Arial;
    font-weight: 600;
    border-radius: 5px;
    color: #43608a;
    padding: 0.3rem;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }

  .topnav a:hover,
  .topnav a:focus {
    background-color: #43608a;
    color: aliceblue;
  }

  .darkBtn {
    position: fixed;
    left: 82%;
    top: 4%;
    size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease-out;
  }

  /* Hero Section */

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 740px;
    padding: 20px;
  }

  .main {
    position: relative;
    bottom: 40%;
  }

  .main p,
  h2 {
    color: #43608a;
    text-align: center;
    font-weight: 500;
    transition: all 0.5s ease-out;
  }
  .main h2 {
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(95, 143, 216),
      0 0 0.2em rgb(95, 143, 216);
  }
  .main p {
    font-size: 1rem;
  }

  .container-1 {
    position: relative;
    top: 20%;
    margin-bottom: 10%;
  }

  /* Main-2 Section */

  .main-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 25px 0px 20px 0px;
    height: 900px;
    margin-left: 1%;
    border: 2px solid #43608a;
    border-radius: 10px;
    gap: 35px;
  }

  .img-box {
    width: 300px;
    height: 250px;
    border: 2px solid #111;
    border-radius: 12px;
    background: url(design-img/img-1.jpg);
    transition: all 2s ease-out;
    animation: changeimg 15s infinite;
    background-size: cover;
    transition: all 2s ease-out;
  }

  .msg-box {
    transition: all 1s ease-out;
  }
}
