body {
  height: 100%vh;
  /* background-color: #efebd6; */
  background-color: #93e9f1;
}

header {
  border-bottom: 2px solid #efebd6;
  padding-bottom: 10px;
  background-color: #43608a;
  align-items: center;
}

.profile-pic {
  margin-left: 25px;
  margin-top: 10px;
}

.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile {
  margin-left: 12px;
  margin-top: 25px;
  font-family: Arial;
  color: #efebd6;
}

.profileName {
  font-weight: 800;
}

.span {
  font-weight: 600;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.5s ease-out;
  color: #efebd6;
}

.topnav {
  background-color: #efebd6;
  border: 2px solid aliceblue;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-left: 22%;
}

.topnav a {
  font-family: Arial;
  font-weight: 600;
  border-radius: 5px;
  color: #43608a;
  padding: 0.3rem;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.topnav a:hover,
.topnav a:focus {
  background-color: #43608a;
  color: aliceblue;
}

/* Dark-btn section */

.darkBtn {
  position: fixed;
  left: 92%;
  top: 5%;
  size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

body.dark {
  background-color: #2e2b2b;
}

/* #9b59b6 */
body.dark .profile,
body.dark .main,
body.dark .container-1,
body.dark .container-2,
body.dark legend,
body.dark table,
body.dark th,
body.dark td {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .slide {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.fa-moon {
  color: #f1d978;
}
.fa-sun {
  color: #f39c12;
}

.checkbox:checked + .checkbox-label .slide {
  transform: translateX(24px);
}

/* Main sectiom */

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding-top: 25px 0px 20px 0px;
  width: 98%;
  height: 350px;
  margin-left: 1%;
  border: 2px solid #43608a;
  border-radius: 10px;
  border-color: #43608a;
  background-color: #efebd6;
  color: #efebd6;
}

.main p,
h2 {
  color: #43608a;
  text-align: center;
  margin-top: -20px;
  font-weight: 600;
  transition: all 0.5s ease-out;
}

.container-1 {
  background-color: #43608a;
  border: 1px solid #43608a;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 250px;
  transition: all 0.5s ease-out;
}

.container-1 p {
  word-spacing: normal;
  font-size: 1rem;
  text-align: justify;
}

.container-2 {
  background-color: #43608a;
  border: 1px solid #43608a;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 250px;
  transition: all 0.5s ease-out;
}

/* Message-Section */

fieldset {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 10px;
  margin-right: 20px;
  transition: all 0.5s ease-out;
}

.container-1:hover,
fieldset:hover,
.container-2:hover {
  border-color: aliceblue;
}

legend {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
}
input[type="text"] {
  background-color: rgb(219, 218, 218);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
  transition: all 0.5s ease-out;
}
input[type="text"]:hover,
input[type="text-1"]:hover,
textarea:hover {
  border: 2px solid aliceblue;
}
input[type="text-1"],
textarea {
  background-color: rgb(219, 218, 218);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
  width: 95%;
  resize: vertical;
  transition: all 0.5s ease-out;
}
textarea {
  height: 110px;
  border: 2px solid rgb(82, 77, 77);
}
.send-Btn {
  background-color: rgb(20, 56, 100);
  font-weight: bold;
  color: rgb(203, 226, 238);
  border-radius: 8px;
  margin-left: 12px;
  height: 40px;
  width: 70px;
  transition: all 0.3s ease-out;
}
.send-Btn:hover,
.send-Btn:focus {
  border: 1px solid aliceblue;
  opacity: 0.8;
}
