body {
  height: 100%vh;
  background-color: #93e9f1;
}
.profile {
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}

.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 30px;
}

.profileName {
  position: absolute;
  top: 4%;
  left: 8%;
  z-index: 0;
  font-weight: 800;
}

.span {
  font-weight: 600;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.topnav {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  position: absolute;
  gap: 0.5rem;
  top: 2.5%;
  left: 35%;
  z-index: initial;
}

.topnav a {
  font-family: Arial;
  font-weight: 600;
  border-radius: 5px;
  color: rgb(5, 12, 21);
  padding: 0.5rem;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.topnav a:hover,
.topnav a:focus {
  background-color: rgb(5, 12, 21);
  color: aliceblue;
}

.darkBtn {
  position: fixed;
  left: 92%;
  top: 5%;
  size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

body.dark {
  background-color: #1d1818;
}

/* #9b59b6 */
body.dark .profile,
body.dark a,
body.dark .main,
body.dark .container-1,
body.dark .container-2,
body.dark legend,
body.dark table,
body.dark th,
body.dark td {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .slide {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.fa-moon {
  color: #f1d978;
}
.fa-sun {
  color: #f39c12;
}

.checkbox:checked + .checkbox-label .slide {
  transform: translateX(24px);
}

/* Main sectiom */

.main-section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}

.main p {
  margin-top: -20px;
  font-weight: 600;
}

.container-1 {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
  position: absolute;
  justify-content: left;
  top: 90%;
  margin-left: 30px;
  width: 35%;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease-out;
}

.container-2 {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  justify-content: left;
  top: 118%;
  margin-left: 30px;
  width: fit-content;
  color: rgb(0, 0, 0);
  width: 35%;
  transition: all 0.5s ease-out;
}

fieldset {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 10px;
  margin-right: 20px;
  transition: all 0.5s ease-out;
}

.container-1:hover,
fieldset:hover,
.container-2:hover {
  border-color: aliceblue;
}

legend {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
}
input[type="text"] {
  background-color: rgb(219, 218, 218);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
  transition: all 0.5s ease-out;
}
input[type="text"]:hover,
input[type="text-1"]:hover,
textarea:hover {
  border: 2px solid aliceblue;
}
input[type="text-1"],
textarea {
  background-color: rgb(219, 218, 218);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
  width: 95%;
  resize: vertical;
  transition: all 0.5s ease-out;
}
textarea {
  height: 110px;
  border: 2px solid rgb(82, 77, 77);
}
.send-Btn {
  background-color: rgb(20, 56, 100);
  font-weight: bold;
  color: rgb(203, 226, 238);
  border-radius: 8px;
  margin-left: 12px;
  height: 40px;
  width: 70px;
  transition: all 0.3s ease-out;
}
.send-Btn:hover,
.send-Btn:focus {
  border: 1px solid aliceblue;
  opacity: 0.8;
}
