body {
  background-color: #93e9f1;
}

/* Nav Section */

header {
  border-bottom: 2px solid #efebd6;
  padding-bottom: 10px;
  background-color: #43608a;
  align-items: center;
}

.profile-tag {
  display: flex;
  justify-content: center;
}

.profile-pic {
  margin-left: 25px;
  margin-top: 10px;
}

.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile {
  margin-left: 12px;
  margin-top: 25px;
  font-family: Arial;
  color: #efebd6;
}

.profile p {
  font-weight: 800;
  transition: all 1s ease-out;
}

.span {
  font-weight: 600;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.5s ease-out;
  color: #efebd6;
}

.topnav {
  background-color: #efebd6;
  border: 2px solid aliceblue;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-left: 22%;
}

.topnav a {
  font-family: Arial;
  font-weight: 600;
  border-radius: 5px;
  color: #43608a;
  padding: 0.3rem;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.topnav a:hover,
.topnav a:focus {
  background-color: #43608a;
  color: aliceblue;
}

.darkBtn {
  position: fixed;
  left: 92%;
  top: 5%;
  size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

body.dark {
  background-color: #1d1818;
}

/* #9b59b6 */
body.dark .profile,
body.dark h3,
body.dark .details {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .slide {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox:checked + .checkbox-label .slide {
  transform: translateX(24px);
}

/* Main Section */

pre {
  font-weight: 600;
  font-size: large;
}

.container-about {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.details {
  position: absolute;
  top: 30%;
  width: fit-content;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s ease-out;
}

.details:hover {
  border: 2px solid aliceblue;
}

h3 {
  text-decoration: underline;
  transition: all 1s ease-out;
}

h3:hover {
  color: aliceblue;
}
